*{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#box{
margin: 100px;
padding: 100px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background-color: rgb(190, 118, 163);
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: red;
}

button:active{
    background-color: rgb(245, 0, 212);
}


#diceResults{
    padding: 10px;
}

#diceImages img{
    padding: 15px;
}