body{
    margin: 0px;
    border-left: 400px solid white;
    border-right: 400px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 0px;
    background-color: rgb(211, 208, 208);
}

#profile{
    border-radius: 50px;
    width: 100px;
}

.fa-brands.fa-twitter{
    color: blue;
}
.fa-brands.fa-github{
    color: black;
}
.fa-brands.fa-linkedin-in{
    color: white;
}

.boxes{
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
}

.boxes .des{
    padding: 5px;
    text-align: center;
}

.boxes:hover{
    border: 2px solid #33bbee;
}

.boxes img{
    width: 100%;
    height: auto;
}   
